body {
    font-family: Arial, sans-serif;
    background-color: #F5FCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 600px;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 25px;
}

#sudokuContainer {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 16px;
}

.lightBackground {
    background-color: #A9A9A9;
}

.darkBackground {
    background-color: #EBF3E8;
}

.buttonContainer {
    padding: auto;
    /* padding: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


@media (max-width: 600px) {
    .container {
        /* padding: 15px 250px; */
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        padding: 10px;
    }

    .cell {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
    }

    .buttonContainer button {
        padding: 15px 25px;
        font-size: 18px;
    }
}
