
:root {
    --cellsize: 5.375em;
    --contsize: calc(var(--cellsize)*0.9);
    --message: "YOU WON!"
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
   
h1{
    color: rgba(255, 255, 255, 0.385);
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

h3{
    color: rgb(73, 139, 145);
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

*::before,*::after{
    box-sizing: border-box;
}
.board {
    
    width: 100%;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cellsize);
    height: var(--cellsize);
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.cross::before,
.cell.cross::after {
    content: "";
    position: absolute;
    width: calc(var(--contsize)*0.05);
    height: var(--contsize);
    background-color: black;
}

.cell.cross::before {
    transform: rotate(45deg);
}

.cell.cross::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: "";
    position: absolute;

    background-color: black;
    border-radius: 100%;
}

.cell.circle::before {
    width: var(--contsize);
    height: var(--contsize);
    background-color: black;
}

.cell.circle::after {
    width: calc(var(--contsize)*0.9);
    height: calc(var(--contsize)*0.9);
    background-color: rgb(255, 255, 255);
}




.custom-control.custom-radio{
    color: rgb(45, 72, 161);
    margin-bottom: 50px;
}

#winMessage{
    padding: 10px;
    font-size: 2rem;
    color: white;
}

#gamebg {
    display: none;
    background-color: rgb(255, 255, 255);    
  }

#startPage{
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
}

#endPage{
    
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90vh;
    background-color: rgb(0, 0, 0);
}


