* {
    margin: 0;
    padding: 0;
}

body {
    background-color: greenyellow;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    background-color: orangered;
    font-size: 10vmin;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(24, 27, 25, 0.1);
    color: aliceblue;
}
h1 {
    font-size: 70px;
    color: rebeccapurple;
}

#restart{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
   

}

#newGame{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
}

#msg{
    color: bisque;
    font-size: 8vmin;
}

.msg {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hide {
    display: none;
}